<a class="post-avatar-container" href="/{{user.username}}">
  <img class="post-avatar avatar" src="{{#gravatar}}{{user.gravatarId}}{{/gravatar}}" alt="" />
</a>
<div class="post-content">
  <div class="post-header">
    <a class="post-author" href="/{{user.username}}">{{user.username}}</a>
    {{#if url}}in <a class="post-url" href="{{url}}">{{url}}</a>{{/if}}
    <time class="post-metadata post-date">{{#date}}{{createdAt}}{{/date}}</time>
  </div>
  {{#if_can_edit_post}}
    <div class="post-icons">
      <span class="icon-pencil-1 post-edit-button" title="Edit"></span>
      <span class="icon-trash post-delete-button" title="Delete"></span>
    </div>
  {{/if_can_edit_post}}
  <div class="post-text">
    {{#markdown}}{{{text}}}{{/markdown}}
  </div>
</div>
