<div class="repo-topic-header">
  <a href="{{repo.title}}/topics/{{number}}">#{{number}}</a>
  <a href="{{repo.title}}/topics/{{number}}">{{title}}</a>
</div>
by <a class="post-author" href="/{{user.username}}">{{user.username}}</a>
<time class="">{{#date}}{{createdAt}}{{/date}}</time>
<span class="post-metadata post-date">{{total_posts}} posts</span>
